*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Orelega One', cursive;
    background: url(music1.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.app{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
header h1{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}
header p{
    font-size: 20px;
}
.pads{
    background: lightskyblue;
    width: 100%;
    display: flex;
}
.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;
    margin-top: 3px;
    margin-bottom: 5px;
}
.pad1{
    background: magenta;
}
.pad2{
    background: mediumseagreen;
}
.pad3{
    background: rgb(140, 104, 238);
}
.pad4{
    background: darkred;
}
.pad5{
    background: rgb(212, 198, 218);
}
.pad6{
    background:rgb(177, 170, 83);
}
